<!DOCTYPE HTML>
<html>

<head>
  <title>Mini Mooshak</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>Mini Mooshak</h1>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
      <h1>Upload a C++ file to compile and run</h1>
      <form action="/compile" method="post" enctype="multipart/form-data">
       <div class="form_settings">
          <p>
              <input type="file" name="codefile"><br/>
              <textarea name="std_input" cols="50" rows="10" maxlength="200"></textarea> <br/>
              <input class="submit" type="submit" value="Upload">
          </p>
        </div>
      </form>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; simplestyle_7 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
